<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
		Splurty was built by Tim Gallo at a Firehose session on Ruby on Rails, which was set up through meetup.com and hosted at the Thrill Mill.  Google "the fire hose project" for more information.
	</p>
	<br />
</div>
<div class="col-xs-12 col-sm-4">
	<%= image_tag 'tim.jpg', :class => 'img-responsive' %>
</div>
<div class="col-xs-12 col-sm-7 col-sm-offest-1">
	<h2 class="text-center">Tim Gallo</h2>
	<br />
	<p>
		Tim graduated from the University of Pittsburgh and has been teaching himself computer stuff he didn't learn during school.  Which is fine, since he studied Industrial Engineering and not Computer Science.
	</p> 
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
